*{
    padding: 0%;
     margin: 0%;
     box-sizing: border-box;
     text-decoration: none;
 
 }

 .header{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-top: 1.5rem;
     margin-left: 2.5rem;
     margin-right: 9rem;
     color:rgb(3, 7, 73);
 }

 ul{
    display: flex;
    flex-direction: row;
 }

 li{
     list-style-type: none;
     margin-left: 3rem;
     font-weight: 900;
 }
 hr{
    border:0.1rem solid rgb(3, 7, 73);
}
a{
    color:rgb(3, 7, 73);
}

.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 27rem;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:25rem;
    width:30%;
  
}
.photo{
    width:500px;
    height:350px;
}
.photo img{
    width:100%;
    height:100%;
    object-fit: conatin;
    box-shadow: -1px 5px 15px black;
    border-collapse: collapse;
}

.description{
    height: 25rem;
    width:50%;
   
  
}
.description #one{
    font-size: 1.8rem;
    color:rgb(3, 7, 73);
    font-weight: bold;
}
.description #two{
    font-size: 1.4rem;
    color:rgb(3, 7, 73);
    font-weight: bold;
}
.description #three{
    font-size: 1.3rem;
    line-height: 2rem;
    color:rgb(3, 7, 73);
}
.D1,.D2{
        font-size: 1.3rem;
        font-weight: bolder;
        color:rgb(3, 7, 73);
        padding-top: 1rem;
        padding-left: 1rem;
}
.bottom1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:rgb(3, 7, 73);
    font-weight: bolder;
}
.bottom1 li{
    font-size: 1.1rem;
    font-weight:800;
}
i{
    color: rgb(3, 7, 73);
    font-size: 1.1rem;
}
#color{
    background-color: rgb(255, 255, 255);
}